/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basics */

body {
    background-color: #2e2e2e;
    color: #ddd;
    font-family: "Droid Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    line-height: 1.5;
    overflow-y: scroll;
    max-width: 55rem;
    margin: 0 auto;
}

img {
    max-width: 100%
}

a {
    color: #52C0FF;
}

a:hover {
    text-decoration: none;
}

/* Typo */

h1, h2, h3 {
    color: #fff;
    font-family: "Mako", Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

/*
 * Default template styling
 *  - header
 *  - nav
 *  - main
 *  - #content (legacy)
 *  - footer
 */

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
}

.logo {
    max-width: 25rem;
}

/* Nav */

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #FFF;
    padding: .4rem .8rem;
    text-decoration: none;
    border-bottom: 2px solid #2e2e2e;
    transition: ease 150ms;
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

.active {
    border-bottom: 2px solid #52C0FF;
}

/* Main */

main {
    margin: 2rem 0;
}

main > * + * {
    margin-top: 1rem;
}

main ul {
    margin-left: 2rem;
}

main li {
    margin-bottom: 1em;
}

/*
 * #content used to be the old content wrapper.
 * It's still here for legacy purposes but the new content is wrapped
 * in <main>, so all appropriate styling is found on that element above this comment
 */

#content {
    width: 874px;
    padding-left: 1em;
    padding-right: 1em;
}

#content p {
    padding-right: 2em;
}
#content li {
    margin-bottom: 1em;
    padding-right: 2em;
}

/* Footer */

footer {
    border-top: 2px solid #242424;
    color: #ccc;
    font-size: .9rem;
    text-align: center;
    padding: 2em;
}

/*
 * Styling for each major sub-section of the site
 *  - home
 *  - downloads/distrbutions
 *  - docs
 *  - screenshots
 */

.info {
    padding: 2rem;
    background-color: #242424;
    display: flex;
    margin-bottom: 2rem;
}

.info div + a {
    margin-left: 1rem
}

.info h2 {
    font-size: 2rem;
    font-weight: normal;
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.download {
    background-color: #2b7dbc;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    padding: .75rem 2rem;
    text-decoration: none;
    align-self: flex-start;
}

.version {
    margin-left: 2rem;
}

.screen {
    width: 80%;
    display: inline-block;
}

.screen img {
    vertical-align: middle;
}

/*
 * Distributions page
 */

.distributions {
    display: flex;
    flex-wrap: wrap;
}

.distributions img {
    vertical-align: middle;
    max-width: 5rem;
    margin: 1rem;
}

.old {
    display: none;
}

.downloads {
    width: 100%;
}

.downloads tbody:first-of-type tr:first-child td {
    color: #fff;
    padding: .5rem 0;
    font-weight: bold;
}

.gpg-key {
    white-space: pre;
    overflow-x: scroll;
}

/*
 * Docs page
 */

.columns {
    display: flex;
}

.item {
    padding: .5rem;
}

* + .item {
    margin-top: 1rem;
}

.item > a {
    font-weight: bold
}

.highlight {
    background-color: #444;
    border-radius: 5px;
    width: 90%;
}

.author {
    color: #7c7c7c;
    font-size: .8rem;
    margin-left: .5rem;
}

.docversion {
    margin: 0.25em;
    margin-top: 0.9em;
    padding: 0.1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 4px;
    float: right;
}

.docversion a, .docversion a:visited {
    color: white;
    text-decoration: none;
}

/*
 * Fonts
 */

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans'), local('DroidSans'), url('/fonts/DroidSans.woff') format('woff'), url('/fonts/DroidSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Ovo';
    font-style: normal;
    font-weight: normal;
    src: local('Ovo'), url('/fonts/Ovo.ttf') format('truetype');
}

@font-face {
    font-family: 'Mako';
    font-style: normal;
    font-weight: normal;
    src: local('Mako'), url('/fonts/Mako.ttf') format('truetype');
}

.video img {
    margin-left: 1em;
    margin-right: 1em;
}

#screencasts li {
    margin-bottom: 0.25em;
}

#screencasts p, #screencasts ul {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
}

.imgdesc {
    margin-bottom: 1em;
}

.screenshots, .screencasts, .video {
    width: 100%;
}

.screenshots .shot {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    color: #c0c0c0;
    width: 240px;
    min-height: 125px;
}

.screenshots br {
    clear: left;
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.7;
    display: none;
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 58px;
    height: 60px;
    background-color: black;
    background-image: url('/img/loading.gif');
    opacity: 0.9;
    z-index: 20;
    display: none;
    border-radius: 4px;
}

#bigimg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#maskouter {
    height: 100%;
    display: table;
    margin: 0 auto;
}

#maskinner {
    vertical-align: middle;
    display: table-cell;
}

#imgleft, #imgright {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    background-color: black;
    z-index: 22;
    opacity: 0.7;
}

#imgleft {
    left: 0;
    background-image: url('/img/prevbtn.png');
}

#imgright {
    right: 0;
    background-image: url('/img/nextbtn.png');
}

#imgdesc {
    position: fixed;
    left: 64px;
    bottom: 0;
    background-color: #333;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    border: 1px solid #555;
    border-bottom: 0;
}

#imgdesc .filename {
    font-weight: bold;
}

#imgdesc .description {
    padding-left: 1em;
}

.usergen pre {
    background: #333;
    border: 1px solid #555;
    border-left: 5px solid #555;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 0.5em;
    white-space: pre;
    color: white;
    overflow: auto;
}

.usergen tt {
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: inherit;
}

.ugdocs .author {
    opacity: 0.3;
}

/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
