<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8">
        <title>i3 - improved tiling wm</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="i3 is a dynamic tiling window manager with clean, readable and documented code, featuring extended Xinerama support, usage of libxcb instead of xlib and several improvements over wmii">
        <meta name="author" content="i3 developers">
    </head>
    <body>
        <header>
            <a class="logo" href="/">
                <img src="/img/logo.svg" alt="i3 WM logo" />
            </a>
            <nav>
                <ul>
                    {% include menulink.html name="Docs" url="/docs/" %}
                    {% include menulink.html name="Screens" url="/screenshots/" %}
                    {% include menulink.html name="FAQ" url="https://www.reddit.com/r/i3wm/" %}
                    {% include menulink.html name="Contact" url="/contact/" %}
                    {% include menulink.html name="Bugs" url="https://github.com/i3/i3/issues" %}
                </ul>
            </nav>
        </header>
        <main>
	        {{ content }}
        </main>
        <footer>
            © 2009-present Michael Stapelberg,
            <a href="/impress.html">Impressum</a>,
            <a href="https://github.com/i3/i3.github.io">Source</a>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/gallery.min.2.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
